/* CSS RESET BRON: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
   Zorgt ervoor dat alle waardes op 0 komen. 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* CSS Document */
*{
  max-width: 100%;
  box-sizing:border-box;  
}


body{
  background-color: #FFCE01;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.logo{
  width: 85px;
  height: 85px;
  border-radius: 0%;
  position: relative;
  left: 15em;
  right: 3em;

}

img{
  margin: 1em;
  max-width: 100%;
}

h1{
  padding: .35em;
  margin: .8em;
  font-size: 32px;
}

h2{
  font-size: 24px;
  padding: .75em;
  margin: 1em;
}

h3{
  font-size: 18.72px;
  margin: 1em;
}

p{
  font-size: 16px;
  margin: 1.5em;

}

a{
  font-size: 16px;
  font-weight: bold;
  margin: 1.5em;
  padding: .5em;
}

#boldtext
{
  font-weight: bold;
}

.stickytext{
font-size: 24px;
position: -webkit-sticky;
position: sticky;
top: .7em;
background-color: #FFCE01;
background-size: cover;
}


ul{
  margin: 1em;
}



/* Use a <figure> element to mark up a photo in a document, 
and a <figcaption> element to define a caption for the photo:*/
figure {
  position: relative;
  color: white;
  width: 100%;
  height: 440px;
}

figure + figure {
  margin-top: 16px;
}
/* als 2 figures achter elkaar komen, laat ze dan elkaar ruimte geven. 
de 2e figure geeft ruimte aan de eerste. */

  figure > picture {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    display: block;
  }

    figure > picture img {
      width: 100%;
      height: 100%;
      object-fit: conver;
      border-radius: 4%;
    }

  figure > figcaption {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
  }

  
/* ------ HAMBURGER MENU ------*/
  #menuToggle
  {
    display: block;
    position: relative;
    top: 25px;
    left: 20px;
    z-index: 1; /* The z-index property specifies the stack order of an element.*/
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; /* and place it over the hamburger */
  }
  
  /* De hamburger zelf */
  #menuToggle span
  {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s 
              
    
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* Hamburger naar kruis */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*Laat middelste hamburger verdwijnen*/
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  
  /*binnenkant menu styling*/
  #menu
  {
    position: absolute;
    width: 900px;
    height: 900px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #FFCE01;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0); /*zorgt dat het menu uit beeld is wanneer hij niet active is.*/
    transition: transform 0.5s;
  }
  
  #menu li
  {
    padding: 10px 0;
    margin-top: .5em;
    font-size: 32px;
  }
  
  /*Naar links openen*/
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  
  

/*Darkmode*/

  .dark-mode {
    background-color:#5f5a43;
    color: white;
  }
  .light-mode {
    background-color: #FFCE01;
    color: black;
  }
  button{
    margin: 1em;
    padding: .2em;
    color: white;
    background-color: black;
  }

  /* Formulier*/
  fieldset{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-style: solid;
  }
  input{
    margin: 1em;
  }

  legend{
    font-size: 18px;
    font-weight: bold;
  }
  
  section:nth-of-type(6) img{
    height: 26em;
    width: 23em;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
section:nth-of-type(7) img{
  height: 12em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(8) img{
  height: 26em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(9) img{
  height: 16em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(10) img{
  height: 26em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(11) img{
  height: 26em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(12) img{
  height: 16em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(13) img{
  height: 16em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(14) img{
  height: 16em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(15) img{
  height: 16em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(16) img{
  height: 12em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(17) img{
  height: 12em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(18) img{
  height: 12em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure:nth-of-type(1) img{
  height: 28em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;;
}
figure:nth-of-type(2) img{
  height: 28em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure:nth-of-type(3) img{
  height: 28em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure:nth-of-type(4) img{
  height: 28em;
  width: 23em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

