*{
  max-width: 100%;
  box-sizing:border-box;  
}
:root {
    --colorBackground: #FFCE01;
    --colorForeground: black;
}

.dark {
    --colorBackground: #5f5a43;
    --colorForeground: white;
  }



body{
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.logo{
    width: 85px;
    height: 85px;
    border-radius: 0%;
    position: relative;
    left: 8em;
    right: 3em;
}

h1{
    padding: .35em;
    margin: .8em;
    font-size: 32px;
}

h2{
    font-size: 24px;
    padding: .75em;
    margin: 1em;
}

h3{
    font-size: 18.72px;
    margin: 1em;
}

p{
    font-size: 16px;
    margin: 1.5em;
    max-width: 100%;
}

a{
    font-size: 16px;
    font-weight: bold;
    margin: 1.5em;
    padding: .5em;
}

img{
    max-width: 100%;
    height: auto;
    width: 19em;
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boldtext{
    font-weight: bold;
}

.stickytext{
    font-size: 24px;
    position: -webkit-sticky;
    position: sticky;
    top: .7em;
    background-color: var(--colorBackground);
    background-size: cover;
}


ul{
    margin: 1em;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

input{
    margin: 1em;
}

legend{
    font-size: 18px;
    font-weight: bold;
}


/* Use a <figure> element to mark up a photo in a document, 
and a <figcaption> element to define a caption for the photo:*/
figure {
  position: relative;
  color: white;
  width: 100%;
  height: 440px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

figure + figure {
  margin-top: 16px;
}

/* als 2 figures achter elkaar komen, laat ze dan elkaar ruimte geven. 
de 2e figure geeft ruimte aan de eerste. */

figure > picture {
  width: 100%;
  height: 100%;
  border-radius: 4%;
  display: block;
}

figure > picture img {
  width: 100%;
  height: 100%;
  object-fit: conver;
  border-radius: 4%;
}

figure > figcaption {
position: absolute;

left: 0;
right: 0;
bottom: 0;
padding: 20px;
}